In [8]:
import json

import re
import os

import pandas as pd
import numpy as np

import utils

import networkx as nx

from tqdm.notebook import tqdm
tqdm.pandas()

In [10]:
df_characters = pd.read_csv("../data/marvel_characters.csv", index_col=0)
df_characters.head(2)

,title,pageid,imglink,gender,links
0,'Spinner (Earth-616),322600,'Spinner (Earth-616) from Marvel Comics Presen...,['Male'],[]
1,01100010 01110010 01110101 01110100 01100101 (...,1053805,01100010 01110010 01110101 01110100 01100101 (...,[''],"['Cosmo (Dog) (Earth-616)', 'Rocket Raccoon (E..."

In [16]:
nodes = df_characters.title.values

In [19]:
G = nx.Graph()
G.add_nodes_from(nodes)